<ion-header > 
  <ion-toolbar color="secondary">
    <ion-title class="home_color"> 
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->
    <ion-list >
      <ion-list-header>
        <ion-label>Parking Lots {{map_url}}</ion-label>
      </ion-list-header>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="book"></ion-icon> -->
        <ion-label>Spot 2 - level 1 
          <span class="miles"> 0.11miles</span>
          <span class="filled">Filled</span>
          <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="build"></ion-icon> -->
        <ion-label>Spot 5 - level 1
            <span class="miles"> 0.15miles</span>
            <span class="free"> Free </span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="grid"></ion-icon> -->
        <ion-label>Spot 3 - level 2
            <span class="miles"> 0.11miles</span>
            <span class="free"> Free </span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 1 - leve 2
            <span class="miles"> 0.09miles</span>
            <span class="filled">Filled</span>
            <span class="direction"> Direction</span>
        </ion-label>

      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 1 - leve 1
            <span class="miles"> 0.01miles</span>
            <span class="filled">Filled</span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 3 - leve 1
            <span class="miles"> 0.20miles</span>
            <span class="free"> Free </span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 4 - leve 1
            <span class="miles"> 0.01miles</span>
            <span class="filled">Filled</span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/maps/dir/University+of+Michigan-Flint,+303+E+Kearsley+St,+Flint,+MI+48502/43.0315969,-83.6700995/@43.0237623,-83.6787598,2584m/data=!3m1!1e3!4m8!4m7!1m5!1m1!1s0x88238217c25d9827:0xf5cdab96dcc98e0c!2m2!1d-83.6894611!2d43.0194791!1m0!5m2!1e4!1e1">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 6 - leve 1
            <span class="miles"> 0.20miles</span>
            <span class="free"> Free </span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>

      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 6 - leve 2
            <span class="miles"> 0.09miles</span>
            <span class="filled">Filled</span>
            <span class="direction"> Direction</span>
        </ion-label>

      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 7 - leve 1
            <span class="miles"> 0.01miles</span>
            <span class="filled">Filled</span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <!-- <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> -->
        <ion-label>Spot 5 - leve 1
            <span class="miles"> 0.20miles</span>
            <span class="free"> Free </span>
            <span class="direction"> Direction</span>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
