<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="home_color"> 
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="welcome-card">
      <img style="width: 30%;margin: auto;border-radius: 26px;" src="/assets/shola.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Hi Olusola!</ion-card-subtitle>
        <ion-card-subtitle>Thank you for using findSpot</ion-card-subtitle>
        <!-- <ion-card-title>Your findSpot Info</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <p>findSpot App helps you to locate free parking spot effortlessly. It also help use find your way back to where you parked 
          your car. <br/>
          Let us know what needs improvement or features to be be added, thank you!

        </p>
      </ion-card-content>
    </ion-card>


</ion-content>
